* {
  box-sizing: border-box;
  margin: 0;
}

.banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 893px;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(40deg, #26c6da, #1e88e5, #ff9800, #ffeb3b);
  filter: blur(20%);
  animation: backgroundShift 10s infinite alternate ease-in-out;
}

.container > .relative {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/* Common bubble styles */
.bubble {
  position: absolute;
  border-radius: 50%;
  filter: blur(150px);
  animation: float 10s infinite ease-in-out;
  opacity: 200;
}

/* Bubble 1 */
.bubble_one {
  width: 500px;
  height: 500px;
  left: 20%;
  top: 10%;
  background: #26c6da;
  animation-delay: 0s;
}

/* Bubble 2 */
.bubble_two {
  width: 500px;
  height: 500px;
  right: 15%;
  top: 20%;
  background: #1e88e5;
  animation-delay: 2s;
}

/* Bubble 3 */
.bubble_three {
  width: 400px;
  height: 400px;
  left: 10%;
  bottom: 15%;
  background: #ff9800;
  animation-delay: 4s;
}

/* Bubble 4 */
.bubble_four {
  width: 500px;
  height: 500px;
  left: 70%;
  bottom: 10%;
  background: #ffeb3b;
  animation-delay: 2s;
}

/* Keyframes for floating bubbles */
@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(176px, -360px);
  }
  50% {
    transform: translate(-150px, 75px);
  }
  75% {
    transform: translate(260px, -360px);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* Keyframes for gradient background animation */
@keyframes backgroundShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
