.bubble {
  position: absolute;
  animation: float 10s infinite;
}

.bubble:nth-child(1) {
  top: 10%;
  left: 10%;
  animation-duration: 12s;
  animation-delay: 1s;
}

.bubble:nth-child(2) {
  top: 20%;
  left: 60%;
  animation-duration: 10s;
  animation-delay: 3s;
}

.bubble:nth-child(3) {
  top: 70%;
  left: 20%;
  animation-duration: 15s;
  animation-delay: 2s;
}

.bubble:nth-child(4) {
  top: 40%;
  left: 90%;
  animation-duration: 9s;
  animation-delay: 4s;
}

.bubble:nth-child(5) {
  top: 60%;
  left: 70%;
  animation-duration: 14s;
  animation-delay: 0s;
}

.bubble:nth-child(6) {
  top: 30%;
  left: 90%;
  animation-duration: 14s;
  animation-delay: 0s;
}

.bubble:nth-child(7) {
  top: 20%;
  left: 30%;
  animation-duration: 14s;
  animation-delay: 0s;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
